## Overview

In this project, we will conduct a data analysis using the Stack Overflow Annual Developer Survey dataset. Our goal is to answer the following questions:

1. In which country do developers earn the most?
2. How important is remote working for workers?
3. How much influence does coding experience have on salary?
4. Do individuals with a master's degree have a better chance of securing a job as a developer?

In [193]:
from locale import currency

import pandas as pd
from numpy.lib.shape_base import column_stack

df = pd.read_csv('dataset/survey_results_public.csv')

### In which country do developers earn the most?
First I look for a column that gives me information about the salary

In [194]:
df['CompTotal'].head()

0          NaN
1     285000.0
2     250000.0
3     156000.0
4    1320000.0
Name: CompTotal, dtype: float64

This column shows us total income. However, these are given in different currencies. I need information about which currency it is.

In [195]:
df['Currency'].head()

0                          NaN
1    USD\tUnited States dollar
2    USD\tUnited States dollar
3    USD\tUnited States dollar
4         PHP\tPhilippine peso
Name: Currency, dtype: object

This column can be used to determine which currency it is. We want a uniform result, so we will convert the total earnings into euros.
Rows that have no values ​​in one of the two columns are deleted

In [196]:
# Delete row where is NA in column 'CompTotal' or 'Currency'
df = df.dropna(subset=['CompTotal', 'Currency'])

# Delete ow where is empty in column 'CompTotal' or Currency
df = df[(df['CompTotal'] != '') & (df['Currency'] != '')]

Now we have to convert the values into euros if they are not already in euros.
First I change the 'Currency' column so that only the part remains that I need for my conversion

In [197]:
df['Currency'] = df['Currency'].apply(lambda x: x.strip().split("\t")[0])
df['Currency']

1        USD
2        USD
3        USD
4        PHP
5        GBP
        ...
89175    USD
89177    MXN
89178    USD
89179    BRL
89183    IRR
Name: Currency, Length: 48225, dtype: object

I see that it didn't work for EUR. After investigating, I found that the separator here is not a tab but a simple space

In [198]:
df['Currency'] = df['Currency'].apply(lambda x: x.split(" ")[0])
df['Currency']

1        USD
2        USD
3        USD
4        PHP
5        GBP
        ...
89175    USD
89177    MXN
89178    USD
89179    BRL
89183    IRR
Name: Currency, Length: 48225, dtype: object

Now we convert and save the values in a new column

In [199]:
import requests

url_api = 'https://api.exchangerate-api.com/v4/latest/EUR'

response = requests.get(url_api)
data = response.json()

rates = data['rates']

def convert_to_euro(currency, value):
    if currency in rates:
        return value / rates[currency]
    else:
        return None
    
df['CompTotal in EUR'] = df.apply(lambda row: convert_to_euro(row['Currency'], row['CompTotal']), axis=1)

Adjusting the column order

In [200]:
columns = df.columns.tolist()
columns

['ResponseId',
 'Q120',
 'MainBranch',
 'Age',
 'Employment',
 'RemoteWork',
 'CodingActivities',
 'EdLevel',
 'LearnCode',
 'LearnCodeOnline',
 'LearnCodeCoursesCert',
 'YearsCode',
 'YearsCodePro',
 'DevType',
 'OrgSize',
 'PurchaseInfluence',
 'TechList',
 'BuyNewTool',
 'Country',
 'Currency',
 'CompTotal',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'DatabaseHaveWorkedWith',
 'DatabaseWantToWorkWith',
 'PlatformHaveWorkedWith',
 'PlatformWantToWorkWith',
 'WebframeHaveWorkedWith',
 'WebframeWantToWorkWith',
 'MiscTechHaveWorkedWith',
 'MiscTechWantToWorkWith',
 'ToolsTechHaveWorkedWith',
 'ToolsTechWantToWorkWith',
 'NEWCollabToolsHaveWorkedWith',
 'NEWCollabToolsWantToWorkWith',
 'OpSysPersonal use',
 'OpSysProfessional use',
 'OfficeStackAsyncHaveWorkedWith',
 'OfficeStackAsyncWantToWorkWith',
 'OfficeStackSyncHaveWorkedWith',
 'OfficeStackSyncWantToWorkWith',
 'AISearchHaveWorkedWith',
 'AISearchWantToWorkWith',
 'AIDevHaveWorkedWith',
 'AIDevWantToWorkWith',
 'NEWSOSites',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOComm',
 'SOAI',
 'AISelect',
 'AISent',
 'AIAcc',
 'AIBen',
 'AIToolInterested in Using',
 'AIToolCurrently Using',
 'AIToolNot interested in Using',
 'AINextVery different',
 'AINextNeither different nor similar',
 'AINextSomewhat similar',
 'AINextVery similar',
 'AINextSomewhat different',
 'TBranch',
 'ICorPM',
 'WorkExp',
 'Knowledge_1',
 'Knowledge_2',
 'Knowledge_3',
 'Knowledge_4',
 'Knowledge_5',
 'Knowledge_6',
 'Knowledge_7',
 'Knowledge_8',
 'Frequency_1',
 'Frequency_2',
 'Frequency_3',
 'TimeSearching',
 'TimeAnswering',
 'ProfessionalTech',
 'Industry',
 'SurveyLength',
 'SurveyEase',
 'ConvertedCompYearly',
 'CompTotal in EUR']

I copied the list and I'm now changing the order

In [201]:
new_order = ['ResponseId',
 'Q120',
 'MainBranch',
 'Age',
 'Employment',
 'RemoteWork',
 'CodingActivities',
 'EdLevel',
 'LearnCode',
 'LearnCodeOnline',
 'LearnCodeCoursesCert',
 'YearsCode',
 'YearsCodePro',
 'DevType',
 'OrgSize',
 'PurchaseInfluence',
 'TechList',
 'BuyNewTool',
 'Country',
 'Currency',
 'CompTotal',
 'CompTotal in EUR',            
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'DatabaseHaveWorkedWith',
 'DatabaseWantToWorkWith',
 'PlatformHaveWorkedWith',
 'PlatformWantToWorkWith',
 'WebframeHaveWorkedWith',
 'WebframeWantToWorkWith',
 'MiscTechHaveWorkedWith',
 'MiscTechWantToWorkWith',
 'ToolsTechHaveWorkedWith',
 'ToolsTechWantToWorkWith',
 'NEWCollabToolsHaveWorkedWith',
 'NEWCollabToolsWantToWorkWith',
 'OpSysPersonal use',
 'OpSysProfessional use',
 'OfficeStackAsyncHaveWorkedWith',
 'OfficeStackAsyncWantToWorkWith',
 'OfficeStackSyncHaveWorkedWith',
 'OfficeStackSyncWantToWorkWith',
 'AISearchHaveWorkedWith',
 'AISearchWantToWorkWith',
 'AIDevHaveWorkedWith',
 'AIDevWantToWorkWith',
 'NEWSOSites',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOComm',
 'SOAI',
 'AISelect',
 'AISent',
 'AIAcc',
 'AIBen',
 'AIToolInterested in Using',
 'AIToolCurrently Using',
 'AIToolNot interested in Using',
 'AINextVery different',
 'AINextNeither different nor similar',
 'AINextSomewhat similar',
 'AINextVery similar',
 'AINextSomewhat different',
 'TBranch',
 'ICorPM',
 'WorkExp',
 'Knowledge_1',
 'Knowledge_2',
 'Knowledge_3',
 'Knowledge_4',
 'Knowledge_5',
 'Knowledge_6',
 'Knowledge_7',
 'Knowledge_8',
 'Frequency_1',
 'Frequency_2',
 'Frequency_3',
 'TimeSearching',
 'TimeAnswering',
 'ProfessionalTech',
 'Industry',
 'SurveyLength',
 'SurveyEase',
 'ConvertedCompYearly']

df = df[new_order]

Now we can compare salaries consistently<br><br>
We want to find out in which country developers earn the best.<br>
In order to obtain a meaningful result, we focus on developers with a bachelor's degree and full time employed<br>
and do not impose any further restrictions so as not to go beyond the scope of the project.

We keep the columns which we need for this und delete the rest

In [202]:
columns_to_keep = ['Employment', 'EdLevel', 'Country','CompTotal in EUR']
df = df[columns_to_keep]

Now we filter the data set according to our needs

In [203]:
df = df.dropna()

In [204]:
df = df[df['EdLevel'].isin(['Bachelor’s degree (B.A., B.S., B.Eng., etc.)'])]

In [205]:
df = df[df['Employment'] == 'Employed, full-time']

In [206]:
columns_to_keep = ['Country', 'CompTotal in EUR']
df = df[columns_to_keep]

I make sure that the data is complete

In [207]:
print(df[['Country', 'CompTotal in EUR']].isnull().sum())

Country             0
CompTotal in EUR    0
dtype: int64

everything seems fine<br><br>
Calculate average salary per country

In [208]:
df = df.groupby(['Country'])['CompTotal in EUR'].mean().sort_values(ascending=False)
df.head(10)

Country
Iran, Islamic Republic of...    2.369100e+14
Romania                         1.468666e+13
Afghanistan                     1.577023e+06
Andorra                         2.700000e+05
United States of America        1.538049e+05
Luxembourg                      1.512500e+05
Switzerland                     1.280629e+05
New Zealand                     1.169306e+05
Israel                          1.084962e+05
Canada                          1.011085e+05
Name: CompTotal in EUR, dtype: float64